{
  "openapi": "3.0.3",
  "info": {
    "title": "One Auto API",
    "description": "Subscribe and generate an api key on our website: [https://www.oneautoapi.com](https://www.oneautoapi.com)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.oneautoapi.com",
      "description": "(Sandbox)"
    },
    {
      "url": "https://api.oneautoapi.com",
      "description": "(LIVE)"
    }
  ],
  "paths": {
    "/autopredict/predict/v2": {
      "get": {
        "tags": [
          "AutoPredict"
        ],
        "operationId": "autopredict_predict",
        "summary": "Predict",
        "description": "This endpoint predicts the number of years a vehicle will remain on the road.",
        "parameters": [
          {
            "name": "vehicle_registration_mark",
            "in": "query",
            "description": "Vehicle registration number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "vehicle_registration_mark": {
                          "type": "string",
                          "example": "AB21ABC",
                          "description": "Vehicle registration number (VRM)."
                        },
                        "years_left_prediction": {
                          "type": "integer",
                          "example": 1,
                          "description": "The number of predicted years vehicle will remain on the road."
                        },
                        "prediction_string": {
                          "type": "string",
                          "example": "1-2",
                          "description": "The predicted year range the vehicle will remain on the road."
                        },
                        "one_year_prediction": {
                          "type": "number",
                          "example": 0.12,
                          "description": "The percentage likelihood of the vehicle lasting the next 12 months."
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/autopredict/statistics/v2": {
      "get": {
        "tags": [
          "AutoPredict"
        ],
        "operationId": "autopredict_statistics",
        "summary": "Statistics",
        "description": "This endpoint provides manufacturer and model statistics to predict how long the vehicle is likely to remain on the road. This endpoint provides manufacturer and model statistics to predict how long the vehicle is likely to remain on the road.",
        "parameters": [
          {
            "name": "vehicle_registration_mark",
            "in": "query",
            "description": "Vehicle registration number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "vehicle_registration_mark": {
                          "type": "string",
                          "example": "AB21ABC",
                          "description": "Vehicle registration number (VRM)."
                        },
                        "averages_data": {
                          "type": "object",
                          "properties": {
                            "manufacturer_average_final_miles": {
                              "type": "integer",
                              "example": 123456,
                              "description": "The average number of final miles vehicles of this manufacturer complete."
                            },
                            "model_average_final_miles": {
                              "type": "integer",
                              "example": 123456,
                              "description": "The average number of final miles vehicles of this model type completes."
                            },
                            "manufacturer_average_final_age": {
                              "type": "integer",
                              "example": 12,
                              "description": "The average final age of vehicles of this manufacturer."
                            },
                            "model_average_final_age": {
                              "type": "integer",
                              "example": 12,
                              "description": "The average final age of vehicles of this model."
                            }
                          }
                        },
                        "number_left_data": {
                          "type": "object",
                          "properties": {
                            "manufacturer_model_year_initially_registered": {
                              "type": "integer",
                              "example": 12345,
                              "description": "The number of vehicles of this manufacturer and model year initially registered."
                            },
                            "manufacturer_model_year_currently_licensed": {
                              "type": "integer",
                              "example": 12345,
                              "description": "The number of vehicles of this manufacturer and model year currently licenced."
                            },
                            "manufacturer_model_year_currently_sorn": {
                              "type": "integer",
                              "example": 123,
                              "description": "The number of vehicles of this manufacturer and model year currently SORN."
                            },
                            "manufacturer_model_year_percentage_left": {
                              "type": "number",
                              "example": 95,
                              "description": "The percentage of vehicles of this manufacturer and model year that remain on the road."
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/currentandfuturevaluationsfromid/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_currentandfuturevaluationsfromid",
        "summary": "Current & Future Valuations from Id",
        "description": "This endpoint returns high, average and low, retail and trade current & forecast valuations.",
        "parameters": [
          {
            "name": "brego_derivative_id",
            "in": "query",
            "description": "The Brego Derivative ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "current_mileage",
            "in": "query",
            "description": "Current mileage of the vehicle",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "miles_per_annum",
            "in": "query",
            "description": "The expected annual mileage",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "forecast_date",
            "in": "query",
            "description": "This is the date when the forecasted value is required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registration_date",
            "in": "query",
            "description": "The date the vehicle was first registered in the UK.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valuation_date",
            "in": "query",
            "description": "Allows the user to specify the date for the current/initial valuation (e.g. a historic date)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "valuations": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "retail_low_valuation": {
                                "type": "integer",
                                "example": 15453,
                                "description": "The suggested retail low valuation including VAT for the specified vehicle."
                              },
                              "retail_average_valuation": {
                                "type": "integer",
                                "example": 16611,
                                "description": "The suggested retail average valuation including VAT for the specified vehicle."
                              },
                              "retail_high_valuation": {
                                "type": "integer",
                                "example": 17826,
                                "description": "The suggested retail high valuation including VAT for the specified vehicle ."
                              },
                              "trade_low_valuation": {
                                "type": "integer",
                                "example": 13235,
                                "description": "The suggested trade low valuation including VAT for the specified vehicle."
                              },
                              "trade_average_valuation": {
                                "type": "integer",
                                "example": 14227,
                                "description": "The suggested trade average valuation including VAT for the specified vehicle."
                              },
                              "trade_high_valuation": {
                                "type": "integer",
                                "example": 15267,
                                "description": "The suggested trade high valuation including VAT for the specified vehicle."
                              },
                              "current_mileage": {
                                "type": "integer",
                                "example": 80000,
                                "description": "Current mileage of the vehicle"
                              },
                              "version": {
                                "type": "string",
                                "example": "2024-05-01",
                                "description": "Date point of the valuation"
                              }
                            }
                          }
                        },
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "currency_unit": {
                          "type": "string",
                          "example": "gbp",
                          "description": "The currency unit."
                        },
                        "mileage_unit": {
                          "type": "string",
                          "example": "mi",
                          "description": "The mileage unit."
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/currentandfuturevaluationsfromvin/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_currentandfuturevaluationsfromvin",
        "summary": "Current & Future Valuations from VIN",
        "description": "This endpoint returns high, average and low, retail and trade forecast valuations.",
        "parameters": [
          {
            "name": "vehicle_identification_number",
            "in": "query",
            "description": "Vehicle identification (VIN) number",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "current_mileage",
            "in": "query",
            "description": "Current mileage of the vehicle",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "miles_per_annum",
            "in": "query",
            "description": "The expected annual mileage",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "forecast_date",
            "in": "query",
            "description": "This is the date when the forecasted value is required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valuation_date",
            "in": "query",
            "description": "Allows the user to specify the date for the current/initial valuation (e.g. a historic date)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "valuations": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "retail_low_valuation": {
                                "type": "integer",
                                "example": 15453,
                                "description": "The suggested retail low valuation including VAT for the specified vehicle."
                              },
                              "retail_average_valuation": {
                                "type": "integer",
                                "example": 16611,
                                "description": "The suggested retail average valuation including VAT for the specified vehicle."
                              },
                              "retail_high_valuation": {
                                "type": "integer",
                                "example": 17826,
                                "description": "The suggested retail high valuation including VAT for the specified vehicle ."
                              },
                              "trade_low_valuation": {
                                "type": "integer",
                                "example": 13235,
                                "description": "The suggested trade low valuation including VAT for the specified vehicle."
                              },
                              "trade_average_valuation": {
                                "type": "integer",
                                "example": 14227,
                                "description": "The suggested trade average valuation including VAT for the specified vehicle."
                              },
                              "trade_high_valuation": {
                                "type": "integer",
                                "example": 15267,
                                "description": "The suggested trade high valuation including VAT for the specified vehicle."
                              },
                              "current_mileage": {
                                "type": "integer",
                                "example": 80000,
                                "description": "Current mileage of the vehicle"
                              },
                              "version": {
                                "type": "string",
                                "example": "2024-05-01",
                                "description": "Date point of the valuation"
                              }
                            }
                          }
                        },
                        "vehicle_desc": {
                          "type": "string",
                          "example": "Mini Cooper S",
                          "description": "The Vehicle description"
                        },
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "vehicle_identification_number": {
                          "type": "string",
                          "example": "ABCDE123456F78910",
                          "description": "Vehicle identification number (VIN)."
                        },
                        "currency_unit": {
                          "type": "string",
                          "example": "gbp",
                          "description": "The currency unit."
                        },
                        "mileage_unit": {
                          "type": "string",
                          "example": "mi",
                          "description": "The mileage unit."
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/currentandfuturevaluationsfromvrm/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_currentandfuturevaluationsfromvrm",
        "summary": "Current & Future Valuations from VRM",
        "description": "This endpoint returns high, average and low, retail and trade forecast valuations.",
        "parameters": [
          {
            "name": "vehicle_registration_mark",
            "in": "query",
            "description": "Vehicle registration mark",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "current_mileage",
            "in": "query",
            "description": "Current mileage of the vehicle",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "miles_per_annum",
            "in": "query",
            "description": "The expected annual mileage",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "forecast_date",
            "in": "query",
            "description": "This is the date when the forecasted value is required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valuation_date",
            "in": "query",
            "description": "Allows the user to specify the date for the current/initial valuation (e.g. a historic date)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "valuations": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "retail_low_valuation": {
                                "type": "integer",
                                "example": 15453,
                                "description": "The suggested retail low valuation including VAT for the specified vehicle."
                              },
                              "retail_average_valuation": {
                                "type": "integer",
                                "example": 16611,
                                "description": "The suggested retail average valuation including VAT for the specified vehicle."
                              },
                              "retail_high_valuation": {
                                "type": "integer",
                                "example": 17826,
                                "description": "The suggested retail high valuation including VAT for the specified vehicle ."
                              },
                              "trade_low_valuation": {
                                "type": "integer",
                                "example": 13235,
                                "description": "The suggested trade low valuation including VAT for the specified vehicle."
                              },
                              "trade_average_valuation": {
                                "type": "integer",
                                "example": 14227,
                                "description": "The suggested trade average valuation including VAT for the specified vehicle."
                              },
                              "trade_high_valuation": {
                                "type": "integer",
                                "example": 15267,
                                "description": "The suggested trade high valuation including VAT for the specified vehicle."
                              },
                              "current_mileage": {
                                "type": "integer",
                                "example": 80000,
                                "description": "Current mileage of the vehicle"
                              },
                              "version": {
                                "type": "string",
                                "example": "2024-05-01",
                                "description": "Date point of the valuation"
                              }
                            }
                          }
                        },
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "vehicle_identification_number": {
                          "type": "string",
                          "example": "ABCDE123456F78910",
                          "description": "Vehicle identification number (VIN)."
                        },
                        "currency_unit": {
                          "type": "string",
                          "example": "gbp",
                          "description": "The currency unit."
                        },
                        "mileage_unit": {
                          "type": "string",
                          "example": "mi",
                          "description": "The mileage unit."
                        },
                        "vehicle_desc": {
                          "type": "string",
                          "example": "Mini Cooper S",
                          "description": "The Vehicle description"
                        },
                        "vehicle_type": {
                          "type": "string",
                          "example": "car",
                          "description": "Class of vehicle."
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/derivativeidfromvrm/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_derivativeidfromvrm",
        "summary": "Derivative ID (UK) from VRM",
        "description": "This endpoint returns a Brego Derivative ID from a VRM.",
        "parameters": [
          {
            "name": "vehicle_registration_mark",
            "in": "query",
            "description": "Vehicle registration number (VRM).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "vehicle_desc": {
                          "type": "string",
                          "example": "Mini Cooper S",
                          "description": "The Vehicle description"
                        },
                        "registration_date": {
                          "type": "string",
                          "example": "2020-01-01",
                          "description": "Date the vehicle was first registered in the UK."
                        },
                        "vehicle_identification_number": {
                          "type": "string",
                          "example": "ABCDE123456F78910",
                          "description": "Vehicle identification number (VIN)."
                        },
                        "vehicle_registration_mark": {
                          "type": "string",
                          "example": "AB21ABC",
                          "description": "Vehicle registration number (VRM)."
                        },
                        "colour": {
                          "type": "string",
                          "example": "RED",
                          "description": "Exterior colour of vehicle."
                        },
                        "first_registration_year": {
                          "type": "integer",
                          "example": 2020,
                          "description": "Year of registration"
                        },
                        "is_scrapped": {
                          "type": "boolean",
                          "example": true,
                          "description": "Has the vehicle been scrapped."
                        },
                        "is_imported": {
                          "type": "boolean",
                          "example": true,
                          "description": "Vehicle is imported."
                        },
                        "is_imported_NI": {
                          "type": "boolean",
                          "example": true,
                          "description": "The vehicle is imported."
                        },
                        "keeper_changes_qty": {
                          "type": "integer",
                          "example": 1,
                          "description": "Number of keeper changes."
                        },
                        "keeper_data_items": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "date_of_last_keeper_change": {
                                "type": "string",
                                "example": "2020-01-01",
                                "description": "Date of last keeper change."
                              },
                              "previous_keeper_disposal_date": {
                                "type": "string",
                                "example": "2020-01-01",
                                "description": "The date the previous keeper disposed of the vehicle."
                              },
                              "number_previous_keepers": {
                                "type": "integer",
                                "example": 1,
                                "description": "Number of previous keepers."
                              }
                            }
                          }
                        },
                        "cherished_data_qty": {
                          "type": "integer",
                          "example": 1,
                          "description": "The cherished data quantity."
                        },
                        "cherished_data_items": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "cherished_plate_transfer_date": {
                                "type": "string",
                                "example": "2022-01-01",
                                "description": "Plate transfer date."
                              },
                              "current_vehicle_registration_mark": {
                                "type": "string",
                                "example": "AB21ABC",
                                "description": "Current vehicle registration mark."
                              },
                              "previous_vehicle_registration_mark": {
                                "type": "string",
                                "example": "AB21CDE",
                                "description": "Previous vehicle registration mark."
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/desirabilityratingfromvin/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_desirabilityratingfromvin",
        "summary": "Desirability Rating from VIN",
        "description": "This endpoint provides metrics about market supply, advert age and price movements.",
        "parameters": [
          {
            "name": "vehicle_identification_number",
            "in": "query",
            "description": "Vehicle identification number (VIN).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "regions": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "region": {
                                "type": "string",
                                "example": "national",
                                "description": "Region of the country the data applies to."
                              },
                              "average_advert_days": {
                                "type": "integer",
                                "example": 30,
                                "description": "Average number of days vehicles of this model have been advertised for."
                              },
                              "average_advert_miles_per_month": {
                                "type": "integer",
                                "example": 702,
                                "description": "Average monthly mileage of vehicles of this model advertised within this region."
                              },
                              "average_advert_price_change": {
                                "type": "integer",
                                "example": -123,
                                "description": "Average change to the advertised price for this model within the last 7 days and within this region."
                              },
                              "average_manufacturer_miles_per_month": {
                                "type": "integer",
                                "example": 466,
                                "description": "Average monthly mileage of vehicles from this manufacturer."
                              },
                              "average_model_range_miles_per_month": {
                                "type": "integer",
                                "example": 702,
                                "description": "Average monthly miles advertised vehicles of this model range have completed."
                              },
                              "average_model_miles_per_month": {
                                "type": "integer",
                                "example": 702,
                                "description": "Average monthly miles advertised vehicles of this model have completed."
                              },
                              "min_advert_price": {
                                "type": "integer",
                                "example": 20291,
                                "description": "Minimum advertised price for this model."
                              },
                              "max_advert_price": {
                                "type": "integer",
                                "example": 20291,
                                "description": "Maximum advertised price for this model."
                              },
                              "min_advert_mileage": {
                                "type": "integer",
                                "example": 51351,
                                "description": "Minimum advertised price for this model."
                              },
                              "max_advert_mileage": {
                                "type": "integer",
                                "example": 51351,
                                "description": "Maximum advertised price for this model."
                              },
                              "weekly_advert_qty_change": {
                                "type": "integer",
                                "example": -50,
                                "description": "Maximum advertised price for this model."
                              },
                              "advert_qty": {
                                "type": "integer",
                                "example": 32,
                                "description": "Number of adverts matching the query parameters."
                              },
                              "average_advert_owners_per_annum": {
                                "type": "number",
                                "example": 0.28,
                                "description": "Average number of keepers per annum for this model."
                              },
                              "min_advert_previous_owners": {
                                "type": "integer",
                                "example": 0,
                                "description": "Minimum number of previous keepers for advertised models."
                              },
                              "max_advert_previous_owners": {
                                "type": "integer",
                                "example": 2,
                                "description": "Maximum number of previous keepers for advertised models."
                              },
                              "advert_vehicle_colours": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "count": {
                                      "type": "integer",
                                      "example": 32,
                                      "description": "Number of vehicles of this colour advertised."
                                    },
                                    "colour": {
                                      "type": "string",
                                      "example": "Black",
                                      "description": "Exterior colour of vehicle."
                                    }
                                  }
                                }
                              },
                              "vehicle_desc": {
                                "type": "string",
                                "example": "Mini Cooper S",
                                "description": "The Vehicle description"
                              },
                              "desirability_rating": {
                                "type": "integer",
                                "example": 75,
                                "description": "0-100 value indicative of retail demand for the vehicle where 0 is low and 100 is high."
                              },
                              "desirability_rating_last_month": {
                                "type": "integer",
                                "example": 71,
                                "description": "0-100 value indicative of average desirability rating for the past month, which when compared to today's desirability rating allows users to see the trend"
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/desirabilityratingfromvrm/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_desirabilityratingfromvrm",
        "summary": "Desirability Rating from VRM",
        "description": "This endpoint provides metrics about market supply, advert age and price movements.",
        "parameters": [
          {
            "name": "vehicle_registration_mark",
            "in": "query",
            "description": "Vehicle registration number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "regions": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "region": {
                                "type": "string",
                                "example": "national",
                                "description": "Region of the country the data applies to."
                              },
                              "average_advert_days": {
                                "type": "integer",
                                "example": 30,
                                "description": "Average number of days vehicles of this model have been advertised for."
                              },
                              "average_advert_miles_per_month": {
                                "type": "integer",
                                "example": 702,
                                "description": "Average monthly mileage of vehicles of this model advertised within this region."
                              },
                              "average_advert_price_change": {
                                "type": "integer",
                                "example": -123,
                                "description": "Average change to the advertised price for this model within the last 7 days and within this region."
                              },
                              "average_manufacturer_miles_per_month": {
                                "type": "integer",
                                "example": 466,
                                "description": "Average monthly mileage of vehicles from this manufacturer."
                              },
                              "average_model_range_miles_per_month": {
                                "type": "integer",
                                "example": 702,
                                "description": "Average monthly miles advertised vehicles of this model range have completed."
                              },
                              "average_model_miles_per_month": {
                                "type": "integer",
                                "example": 702,
                                "description": "Average monthly miles advertised vehicles of this model have completed."
                              },
                              "min_advert_price": {
                                "type": "integer",
                                "example": 20291,
                                "description": "Minimum advertised price for this model."
                              },
                              "max_advert_price": {
                                "type": "integer",
                                "example": 20291,
                                "description": "Maximum advertised price for this model."
                              },
                              "min_advert_mileage": {
                                "type": "integer",
                                "example": 51351,
                                "description": "Minimum advertised price for this model."
                              },
                              "max_advert_mileage": {
                                "type": "integer",
                                "example": 51351,
                                "description": "Maximum advertised price for this model."
                              },
                              "weekly_advert_qty_change": {
                                "type": "integer",
                                "example": -50,
                                "description": "Maximum advertised price for this model."
                              },
                              "advert_qty": {
                                "type": "integer",
                                "example": 32,
                                "description": "Number of adverts matching the query parameters."
                              },
                              "average_advert_owners_per_annum": {
                                "type": "number",
                                "example": 0.28,
                                "description": "Average number of keepers per annum for this model."
                              },
                              "min_advert_previous_owners": {
                                "type": "integer",
                                "example": 0,
                                "description": "Minimum number of previous keepers for advertised models."
                              },
                              "max_advert_previous_owners": {
                                "type": "integer",
                                "example": 2,
                                "description": "Maximum number of previous keepers for advertised models."
                              },
                              "advert_vehicle_colours": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "count": {
                                      "type": "integer",
                                      "example": 32,
                                      "description": "Number of vehicles of this colour advertised."
                                    },
                                    "colour": {
                                      "type": "string",
                                      "example": "Black",
                                      "description": "Exterior colour of vehicle."
                                    }
                                  }
                                }
                              },
                              "vehicle_desc": {
                                "type": "string",
                                "example": "Mini Cooper S",
                                "description": "The Vehicle description"
                              },
                              "desirability_rating": {
                                "type": "integer",
                                "example": 75,
                                "description": "0-100 value indicative of retail demand for the vehicle where 0 is low and 100 is high."
                              },
                              "desirability_rating_last_month": {
                                "type": "integer",
                                "example": 71,
                                "description": "0-100 value indicative of average desirability rating for the past month, which when compared to today's desirability rating allows users to see the trend"
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/ireland/currentandfuturevaluationsfromid/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_ireland_currentandfuturevaluationsfromid",
        "summary": "Current & Future Valuations (Ireland) from Id",
        "description": "This endpoint returns high, average and low, retail and trade current & forecast valuations.",
        "parameters": [
          {
            "name": "brego_derivative_id",
            "in": "query",
            "description": "Brego Derivative ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "current_kms",
            "in": "query",
            "description": "Current mileage of the vehicle in kms",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "forecast_date",
            "in": "query",
            "description": "This is the date when the forecasted value is required",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registration_date",
            "in": "query",
            "description": "Date the vehicle was first registered in the UK",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kms_per_annum",
            "in": "query",
            "description": "Expected annual mileage in kms",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "valuations": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "retail_low_valuation": {
                                "type": "integer",
                                "example": 21595,
                                "description": "The suggested retail low valuation including VAT for the specified vehicle."
                              },
                              "retail_average_valuation": {
                                "type": "integer",
                                "example": 22767,
                                "description": "The suggested retail average valuation including VAT for the specified vehicle."
                              },
                              "retail_high_valuation": {
                                "type": "integer",
                                "example": 23814,
                                "description": "The suggested retail high valuation including VAT for the specified vehicle ."
                              },
                              "trade_low_valuation": {
                                "type": "integer",
                                "example": 16351,
                                "description": "The suggested trade low valuation including VAT for the specified vehicle."
                              },
                              "trade_average_valuation": {
                                "type": "integer",
                                "example": 17239,
                                "description": "The suggested trade average valuation including VAT for the specified vehicle."
                              },
                              "trade_high_valuation": {
                                "type": "integer",
                                "example": 18032,
                                "description": "The suggested trade high valuation including VAT for the specified vehicle."
                              },
                              "current_mileage": {
                                "type": "integer",
                                "example": 80000,
                                "description": "Current mileage of the vehicle"
                              },
                              "version": {
                                "type": "string",
                                "example": "2024-05-01",
                                "description": "Date point of the valuation"
                              }
                            }
                          }
                        },
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "vehicle_identification_number": {
                          "type": "string",
                          "example": "abcde123fg5678910",
                          "description": "Vehicle identification number (VIN)."
                        },
                        "currency_unit": {
                          "type": "string",
                          "example": "eur",
                          "description": "The currency unit."
                        },
                        "mileage_unit": {
                          "type": "string",
                          "example": "km",
                          "description": "The mileage unit."
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/ireland/currentandfuturevaluationsfromvin/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_ireland_currentandfuturevaluationsfromvin",
        "summary": "Current & Future Valuations (Ireland) from VIN",
        "description": "This endpoint returns high, average and low, retail and trade forecast valuations.",
        "parameters": [
          {
            "name": "vehicle_identification_number",
            "in": "query",
            "description": "Vehicle identification (VIN) number",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "current_kms",
            "in": "query",
            "description": "Current mileage of the vehicle in kms",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "kms_per_annum",
            "in": "query",
            "description": "The expected annual mileage in kms",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "forecast_date",
            "in": "query",
            "description": "This is the date when the forecasted value is required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "valuations": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "retail_low_valuation": {
                                "type": "integer",
                                "example": 21595,
                                "description": "The suggested retail low valuation including VAT for the specified vehicle."
                              },
                              "retail_average_valuation": {
                                "type": "integer",
                                "example": 22767,
                                "description": "The suggested retail average valuation including VAT for the specified vehicle."
                              },
                              "retail_high_valuation": {
                                "type": "integer",
                                "example": 22814,
                                "description": "The suggested retail high valuation including VAT for the specified vehicle ."
                              },
                              "trade_low_valuation": {
                                "type": "integer",
                                "example": 16351,
                                "description": "The suggested trade low valuation including VAT for the specified vehicle."
                              },
                              "trade_average_valuation": {
                                "type": "integer",
                                "example": 17239,
                                "description": "The suggested trade average valuation including VAT for the specified vehicle."
                              },
                              "trade_high_valuation": {
                                "type": "integer",
                                "example": 18032,
                                "description": "The suggested trade high valuation including VAT for the specified vehicle."
                              },
                              "current_mileage": {
                                "type": "integer",
                                "example": 80000,
                                "description": "Current mileage of the vehicle"
                              },
                              "version": {
                                "type": "string",
                                "example": "2024-05-01",
                                "description": "Date point of the valuation"
                              }
                            }
                          }
                        },
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "vehicle_identification_number": {
                          "type": "string",
                          "example": "abcde123fg5678910",
                          "description": "Vehicle identification number (VIN)."
                        },
                        "currency_unit": {
                          "type": "string",
                          "example": "eur",
                          "description": "The currency unit."
                        },
                        "mileage_unit": {
                          "type": "string",
                          "example": "km",
                          "description": "The mileage unit."
                        },
                        "vehicle_desc": {
                          "type": "string",
                          "example": "Mini Cooper S",
                          "description": "The Vehicle description"
                        },
                        "vehicle_type": {
                          "type": "string",
                          "example": "car",
                          "description": "Class of vehicle."
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/ireland/currentandfuturevaluationsfromvrm/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_ireland_currentandfuturevaluationsfromvrm",
        "summary": "Current & Future Valuations (Ireland) from VRM",
        "description": "This endpoint returns high, average and low, retail and trade forecast valuations.",
        "parameters": [
          {
            "name": "vehicle_registration_mark",
            "in": "query",
            "description": "Vehicle registration mark",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "current_kms",
            "in": "query",
            "description": "Current mileage of the vehicle in kms",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "kms_per_annum",
            "in": "query",
            "description": "The expected annual mileage in kms",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "forecast_date",
            "in": "query",
            "description": "This is the date when the forecasted value is required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "valuations": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "retail_low_valuation": {
                                "type": "integer",
                                "example": 21595,
                                "description": "The suggested retail low valuation including VAT for the specified vehicle."
                              },
                              "retail_average_valuation": {
                                "type": "integer",
                                "example": 22767,
                                "description": "The suggested retail average valuation including VAT for the specified vehicle."
                              },
                              "retail_high_valuation": {
                                "type": "integer",
                                "example": 23814,
                                "description": "The suggested retail high valuation including VAT for the specified vehicle ."
                              },
                              "trade_low_valuation": {
                                "type": "integer",
                                "example": 16351,
                                "description": "The suggested trade low valuation including VAT for the specified vehicle."
                              },
                              "trade_average_valuation": {
                                "type": "integer",
                                "example": 17239,
                                "description": "The suggested trade average valuation including VAT for the specified vehicle."
                              },
                              "trade_high_valuation": {
                                "type": "integer",
                                "example": 18032,
                                "description": "The suggested trade high valuation including VAT for the specified vehicle."
                              },
                              "current_mileage": {
                                "type": "integer",
                                "example": 80000,
                                "description": "Current mileage of the vehicle"
                              },
                              "version": {
                                "type": "string",
                                "example": "2024-05-01",
                                "description": "Date point of the valuation"
                              }
                            }
                          }
                        },
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "vehicle_identification_number": {
                          "type": "string",
                          "example": "abcde123fg5678910",
                          "description": "Vehicle identification number (VIN)."
                        },
                        "currency_unit": {
                          "type": "string",
                          "example": "eur",
                          "description": "The currency unit."
                        },
                        "mileage_unit": {
                          "type": "string",
                          "example": "km",
                          "description": "The mileage unit."
                        },
                        "vehicle_desc": {
                          "type": "string",
                          "example": "Mini Cooper S",
                          "description": "The Vehicle description"
                        },
                        "vehicle_type": {
                          "type": "string",
                          "example": "car",
                          "description": "Class of vehicle."
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/ireland/search/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_ireland_search",
        "summary": "Search (Ireland)",
        "description": "This endpoint allows you to search for matching derivatives using a combination of text and parameters.",
        "parameters": [
          {
            "name": "vehicle_desc",
            "in": "query",
            "description": "The vehicle description",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manufacturer_desc",
            "in": "query",
            "description": "The manufacturer description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model_range_desc",
            "in": "query",
            "description": "The model range description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_registration_year",
            "in": "query",
            "description": "Year of registration",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fuel_type_desc",
            "in": "query",
            "description": "The vehicle's fuel type description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transmission_desc",
            "in": "query",
            "description": "The vehicle's transmission type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body_type_desc",
            "in": "query",
            "description": "The body type description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number_doors",
            "in": "query",
            "description": "The number of doors",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "0to100_kmph",
            "in": "query",
            "description": "The number of seconds to go from Zero to 100 kmph",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "engine_capacity_cc",
            "in": "query",
            "description": "The engine capacity in cc",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number_cylinders",
            "in": "query",
            "description": "The number of cylinders",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "power_bhp",
            "in": "query",
            "description": "The engine power bhp",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "number_gears",
            "in": "query",
            "description": "The number of gears",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "top_speed_mph",
            "in": "query",
            "description": "The top speed (mph)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "search_results": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "brego_derivative_id": {
                                "type": "string",
                                "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                                "description": "The Brego Derivative ID."
                              },
                              "brego_vehicle_description": {
                                "type": "string",
                                "example": "MINI COUPE 1.6 Cooper 3dr (October 2011 - May 2015)",
                                "description": "The Brego vehicle description."
                              }
                            }
                          }
                        },
                        "error": {
                          "type": "string",
                          "example": "If there is an error the message would go here",
                          "description": "Details of what went wrong with the api call"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/ireland/valuationfromid/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_ireland_valuationfromid",
        "summary": "Current Valuation (Ireland) from Id",
        "description": "This endpoint returns mileage adjusted high, average and low condition categories for retail and trade valuations.",
        "parameters": [
          {
            "name": "brego_derivative_id",
            "in": "query",
            "description": "The Brego Derivative ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "current_kms",
            "in": "query",
            "description": "Current mileage of the vehicle in kms",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "registration_date",
            "in": "query",
            "description": "Date the vehicle was first registered in the UK",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "retail_low_valuation": {
                          "type": "integer",
                          "example": 21595,
                          "description": "The suggested retail low valuation including VAT for the specified vehicle."
                        },
                        "retail_average_valuation": {
                          "type": "integer",
                          "example": 22767,
                          "description": "The suggested retail average valuation including VAT for the specified vehicle."
                        },
                        "retail_high_valuation": {
                          "type": "integer",
                          "example": 23814,
                          "description": "The suggested retail high valuation including VAT for the specified vehicle ."
                        },
                        "trade_low_valuation": {
                          "type": "integer",
                          "example": 16351,
                          "description": "The suggested trade low valuation including VAT for the specified vehicle."
                        },
                        "trade_average_valuation": {
                          "type": "integer",
                          "example": 17239,
                          "description": "The suggested trade average valuation including VAT for the specified vehicle."
                        },
                        "trade_high_valuation": {
                          "type": "integer",
                          "example": 18032,
                          "description": "The suggested trade high valuation including VAT for the specified vehicle."
                        },
                        "current_mileage": {
                          "type": "integer",
                          "example": 80000,
                          "description": "Current mileage of the vehicle"
                        },
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "currency_unit": {
                          "type": "string",
                          "example": "eur",
                          "description": "The currency unit."
                        },
                        "mileage_unit": {
                          "type": "string",
                          "example": "km",
                          "description": "The mileage unit."
                        },
                        "version": {
                          "type": "string",
                          "example": "2024-05-01",
                          "description": "Date point of the valuation"
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/ireland/valuationfromvin/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_ireland_valuationfromvin",
        "summary": "Current Valuation (Ireland) from VIN",
        "description": "This endpoint returns mileage adjusted high, average and low condition categories for retail and trade valuations.",
        "parameters": [
          {
            "name": "vehicle_identification_number",
            "in": "query",
            "description": "The vehicle identification number",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "current_kms",
            "in": "query",
            "description": "Current mileage of the vehicle in kms",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "retail_low_valuation": {
                          "type": "integer",
                          "example": 21595,
                          "description": "The suggested retail low valuation including VAT for the specified vehicle."
                        },
                        "retail_average_valuation": {
                          "type": "integer",
                          "example": 22767,
                          "description": "The suggested retail average valuation including VAT for the specified vehicle."
                        },
                        "retail_high_valuation": {
                          "type": "integer",
                          "example": 23814,
                          "description": "The suggested retail high valuation including VAT for the specified vehicle ."
                        },
                        "trade_low_valuation": {
                          "type": "integer",
                          "example": 16351,
                          "description": "The suggested trade low valuation including VAT for the specified vehicle."
                        },
                        "trade_average_valuation": {
                          "type": "integer",
                          "example": 17239,
                          "description": "The suggested trade average valuation including VAT for the specified vehicle."
                        },
                        "trade_high_valuation": {
                          "type": "integer",
                          "example": 18032,
                          "description": "The suggested trade high valuation including VAT for the specified vehicle."
                        },
                        "current_mileage": {
                          "type": "integer",
                          "example": 80000,
                          "description": "Current mileage of the vehicle"
                        },
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "vehicle_identification_number": {
                          "type": "string",
                          "example": "abcde123fg45678910",
                          "description": "Vehicle identification number (VIN)."
                        },
                        "currency_unit": {
                          "type": "string",
                          "example": "eur",
                          "description": "The currency unit."
                        },
                        "mileage_unit": {
                          "type": "string",
                          "example": "km",
                          "description": "The mileage unit."
                        },
                        "version": {
                          "type": "string",
                          "example": "2024-05-01",
                          "description": "Date point of the valuation"
                        },
                        "vehicle_desc": {
                          "type": "string",
                          "example": "Mini Cooper S",
                          "description": "The Vehicle description"
                        },
                        "vehicle_type": {
                          "type": "string",
                          "example": "car",
                          "description": "Class of vehicle."
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/ireland/valuationfromvrm/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_ireland_valuationfromvrm",
        "summary": "Current Valuation (Ireland) from VRM",
        "description": "This endpoint returns mileage adjusted high, average and low condition categories for retail and trade valuations.",
        "parameters": [
          {
            "name": "vehicle_registration_mark",
            "in": "query",
            "description": "The vehicle registration mark",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "current_kms",
            "in": "query",
            "description": "Current mileage of the vehicle in kms",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the api call was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "retail_low_valuation": {
                          "type": "integer",
                          "example": 21595,
                          "description": "The suggested retail low valuation including VAT for the specified vehicle."
                        },
                        "retail_average_valuation": {
                          "type": "integer",
                          "example": 22767,
                          "description": "The suggested retail average valuation including VAT for the specified vehicle."
                        },
                        "retail_high_valuation": {
                          "type": "integer",
                          "example": 23814,
                          "description": "The suggested retail high valuation including VAT for the specified vehicle ."
                        },
                        "trade_low_valuation": {
                          "type": "integer",
                          "example": 16351,
                          "description": "The suggested trade low valuation including VAT for the specified vehicle."
                        },
                        "trade_average_valuation": {
                          "type": "integer",
                          "example": 17239,
                          "description": "The suggested trade average valuation including VAT for the specified vehicle."
                        },
                        "trade_high_valuation": {
                          "type": "integer",
                          "example": 18032,
                          "description": "The suggested trade high valuation including VAT for the specified vehicle."
                        },
                        "current_mileage": {
                          "type": "integer",
                          "example": 80000,
                          "description": "Current mileage of the vehicle"
                        },
                        "brego_derivative_id": {
                          "type": "string",
                          "example": "0a1bc3d4-ef56-789g-h10i-j111k21l3m14",
                          "description": "The Brego Derivative ID."
                        },
                        "vehicle_identification_number": {
                          "type": "string",
                          "example": "abcde1234fg5678910",
                          "description": "Vehicle identification number (VIN)."
                        },
                        "currency_unit": {
                          "type": "string",
                          "example": "eur",
                          "description": "The currency unit."
                        },
                        "mileage_unit": {
                          "type": "string",
                          "example": "km",
                          "description": "The mileage unit."
                        },
                        "version": {
                          "type": "string",
                          "example": "2024-05-01",
                          "description": "Date point of the valuation"
                        },
                        "vehicle_desc": {
                          "type": "string",
                          "example": "Mini Cooper S",
                          "description": "The Vehicle description"
                        },
                        "vehicle_type": {
                          "type": "string",
                          "example": "car",
                          "description": "Class of vehicle."
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "If there is an error the message would go here",
                      "description": "Details of what went wrong with the api call"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/brego/search/v2": {
      "get": {
        "tags": [
          "Brego"
        ],
        "operationId": "brego_search",
        "summary": "Search",
        "description": "This endpoint allows you to search for matching derivatives using a combination of text and parameters.",
        "parameters": [
          {
            "name": "vehicle_desc",
            "in": "query",
            "description": "The vehicle description",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manufacturer_desc",
            "in": "query",
            "description": "The manufacturer description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model_range_desc",
            "in": "query",
            "description": "The model range description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_registration_year",
            "in": "query",
            "description": "Year of registration",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fuel_type_desc",
            "in": "query",
            "description": "The vehicle's fuel type description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transmission_desc",
            "in": "query",
            "description": "The vehicle's transmission type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body_type_desc",
            "in": "query",
            "description": "The body type description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number_doors",
            "in": "query",
            "description": "The number of doors",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "0to100_kmph",
            "in": "query",
            "description": "The number of seconds to go from Zero to 100 kmph",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "engine_capacity_cc",
            "in": "query",
            "description": "The engine capacity in cc",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number_cylinders",
            "in": "query",
            "description": "The number of cylinders",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "power_bhp",
            "in": "query",
            "description": "The engine power bhp",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "number_gears",
            "in": "query",
            "description": "The number of gears",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "top_speed_mph",
            "in": "query",
            "description": "The top speed (mph)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
[...]
